/* Figma Styles of your File */
:root {
  /* Colors */
  --style-1: #ffffff;
  --style-3: #efefef;
  --style-4: #2c2c2c;
  --style-2: #000000;
  --style-5: #f5fbff;
  --style-6: #c7c7c7;
  --style-7: undefined;
  --style-8: undefined;
  --style-9: rgba(0, 0, 0, 0.5);
  --style-10: #ced4da;
  --style-11: rgba(73, 80, 87, 0.5);
  --style-12: #009e3f;
  --style-13: rgba(0, 0, 0, 0);
  --style-14: undefined;
  --style-15: rgba(255, 255, 255, 0.9);
  --style-16: #081e3d;
  --style-17: #ededed;
  --style-18: undefined;
  --style-19: undefined;
  --style-20: undefined;
  --style-21: undefined;
  --style-22: undefined;
  --style-23: undefined;
  --style-24: undefined;
  --style-25: undefined;
  --style-26: undefined;
  --style-27: undefined;
  --style-28: #dee2e6;
  --style-29: #6c757d;
  --style-30: #35979c;
  --style-31: #276e72;
  --style-32: #383e45;
  --style-33: #14263d;
  --style-34: #d3d3d3;
  --style-35: #57c1c6;
  --style-36: #2b323c;

  /* Fonts */
  --h15-font-family: IbmPlexSans-Regular, sans-serif;
  --h15-font-size: 42px;
  --h15-line-height: 122.22%;
  --h15-font-weight: 400;
  --h15-font-style: normal;
  --regular-h1-font-family: IbmPlexSans-Regular, sans-serif;
  --regular-h1-font-size: 48px;
  --regular-h1-line-height: 125%;
  --regular-h1-font-weight: 400;
  --regular-h1-font-style: normal;
  --regular-h2-font-family: IbmPlexSans-Regular, sans-serif;
  --regular-h2-font-size: 36px;
  --regular-h2-line-height: 122.22%;
  --regular-h2-font-weight: 400;
  --regular-h2-font-style: normal;
  --regular-h3-font-family: IbmPlexSans-Regular, sans-serif;
  --regular-h3-font-size: 30px;
  --regular-h3-line-height: 126.6%;
  --regular-h3-font-weight: 400;
  --regular-h3-font-style: normal;
  --regular-h4-font-family: IbmPlexSans-Regular, sans-serif;
  --regular-h4-font-size: 24px;
  --regular-h4-line-height: 133.3%;
  --regular-h4-font-weight: 400;
  --regular-h4-font-style: normal;
  --regular-text-xl-font-family: IbmPlexSans-Regular, sans-serif;
  --regular-text-xl-font-size: 20px;
  --regular-text-xl-line-height: 150%;
  --regular-text-xl-font-weight: 400;
  --regular-text-xl-font-style: normal;
  --regular-text-lg-font-family: IbmPlexSans-Regular, sans-serif;
  --regular-text-lg-font-size: 18px;
  --regular-text-lg-line-height: 155.5%;
  --regular-text-lg-font-weight: 400;
  --regular-text-lg-font-style: normal;
  --regular-text-md-font-family: IbmPlexSans-Regular, sans-serif;
  --regular-text-md-font-size: 16px;
  --regular-text-md-line-height: 150%;
  --regular-text-md-font-weight: 400;
  --regular-text-md-font-style: normal;
  --regular-text-sm-font-family: IbmPlexSans-Regular, sans-serif;
  --regular-text-sm-font-size: 14px;
  --regular-text-sm-line-height: 142.8%;
  --regular-text-sm-font-weight: 400;
  --regular-text-sm-font-style: normal;
  --regular-text-xs-font-family: Inter-Regular, sans-serif;
  --regular-text-xs-font-size: 12px;
  --regular-text-xs-line-height: 150%;
  --regular-text-xs-font-weight: 400;
  --regular-text-xs-font-style: normal;
  --semi-bold-text-lg-font-family: IbmPlexSans-SemiBold, sans-serif;
  --semi-bold-text-lg-font-size: 18px;
  --semi-bold-text-lg-line-height: 155.5%;
  --semi-bold-text-lg-font-weight: 600;
  --semi-bold-text-lg-font-style: normal;
  --semi-bold-text-md-font-family: IbmPlexSans-SemiBold, sans-serif;
  --semi-bold-text-md-font-size: 16px;
  --semi-bold-text-md-line-height: 150%;
  --semi-bold-text-md-font-weight: 600;
  --semi-bold-text-md-font-style: normal;
  --semi-bold-text-sm-font-family: IbmPlexSans-SemiBold, sans-serif;
  --semi-bold-text-sm-font-size: 14px;
  --semi-bold-text-sm-line-height: normal;
  --semi-bold-text-sm-font-weight: 600;
  --semi-bold-text-sm-font-style: normal;
  --semi-bold-text-xs-font-family: IbmPlexSans-SemiBold, sans-serif;
  --semi-bold-text-xs-font-size: 12px;
  --semi-bold-text-xs-line-height: 150%;
  --semi-bold-text-xs-font-weight: 600;
  --semi-bold-text-xs-font-style: normal;

  /* Effects */
  --style-1-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  --style-2-box-shadow: 0px 4px 24px 0px rgba(8, 30, 61, 0.08);
  --style-3-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
}
/* Figma Color Variables of your File */
:root,
[data-color-permitives-mode="mode-1"] {
  /* mode-1 */
  --primary-sa-25: #f7fdf9;
  --primary-sa-50: #d2f8e5;
  --primary-sa-100: #8beebc;
  --primary-sa-200: #44e393;
  --primary-sa-300: #20de7e;
  --primary-sa-400: #13bd67;
  --primary-sa-500: #0aa758;
  --primary-sa-600: #04994f;
  --primary-sa-700: #048545;
  --primary-sa-800: #03773e;
  --primary-sa-900: #036c38;
  --neutral-25: #fcfcfd;
  --neutral-50: #f9fafb;
  --neutral-100: #f3f4f6;
  --neutral-200: #e5e7eb;
  --neutral-300: #d2d6db;
  --neutral-400: #9da4ae;
  --neutral-500: #6c737f;
  --neutral-600: #4d5761;
  --neutral-700: #384250;
  --neutral-800: #1f2a37;
  --neutral-900: #111927;
  --primary-sa-950: #024122;
  --neutral-950: #0d121c;
}

:root,
[data-color-mode="mode-1"] {
  /* mode-1 */
  --text-white: var(--neutral-25);
  --text-primary: var(--primary-sa-600);
  --text-regular: var(--neutral-950);
  --icon-regular: var(--neutral-950);
  --icon-white: var(--neutral-25);
  --icon-primary: var(--primary-sa-600);
  --tag-default: var(--background-default);
  --divider-default: var(--border-default);
  --card-frame: var(--border-default);
  --background-primary-light: var(--background-primary-light);
  --button-primary: var(--primary-sa-600);
}

[data-figma-ui3-mode="light"] {
  /* light */
  --bg: #ffffff;
  --bg-brand: #0d99ff;
  --bg-brand-hover: #007be5;
  --bg-brand-pressed: #007be5;
  --bg-brand-secondary: #0768cf;
  --bg-brand-tertiary: #e5f4ff;
  --bg-component: #9747ff;
  --bg-component-hover: #8638e5;
  --bg-component-pressed: #8638e5;
  --bg-component-secondary: #7c2bda;
  --bg-component-tertiary: #f1e5ff;
  --bg-danger: #f24822;
  --bg-danger-hover: #dc3412;
  --bg-danger-pressed: #dc3412;
  --bg-danger-secondary: #bd2915;
  --bg-danger-tertiary: #ffe2e0;
  --bg-disabled: #d9d9d9;
  --bg-disabled-secondary: #b3b3b3;
  --bg-hover: #f5f5f5;
  --bg-inverse: #2c2c2c;
  --bg-onselected: #bde3ff;
  --bg-onselected-hover: #bde3ff;
  --bg-onselected-pressed: #bde3ff;
  --bg-pressed: #f5f5f5;
  --bg-secondary: #f5f5f5;
  --bg-selected: #e5f4ff;
  --bg-selected-hover: #bde3ff;
  --bg-selected-pressed: #bde3ff;
  --bg-selected-secondary: #f2f9ff;
  --bg-selected-strong: #0d99ff;
  --bg-selected-tertiary: #f2f9ff;
  --bg-success: #14ae5c;
  --bg-success-hover: #009951;
  --bg-success-pressed: #009951;
  --bg-success-secondary: #008043;
  --bg-success-tertiary: #cff7d3;
  --bg-tertiary: #e6e6e6;
  --bg-warning: #ffcd29;
  --bg-warning-hover: #ffc21a;
  --bg-warning-pressed: #ffc21a;
  --bg-warning-secondary: #fab815;
  --bg-warning-tertiary: #fff1c2;
  --border: #e6e6e6;
  --border-brand: #bde3ff;
  --border-brand-strong: #007be5;
  --border-component: #e4ccff;
  --border-component-hover: #9747ff;
  --border-component-strong: #8638e5;
  --border-danger: #ffc7c2;
  --border-danger-strong: #dc3412;
  --border-disabled: #e6e6e6;
  --border-disabled-strong: rgba(0, 0, 0, 0.3);
  --border-onbrand: #007be5;
  --border-onbrand-strong: #ffffff;
  --border-oncomponent: #8638e5;
  --border-oncomponent-strong: #ffffff;
  --border-ondanger: #dc3412;
  --border-ondanger-strong: #ffffff;
  --border-onselected: #bde3ff;
  --border-onselected-strong: rgba(0, 0, 0, 0.9);
  --border-onsuccess: #009951;
  --border-onsuccess-strong: #ffffff;
  --border-onwarning: #fab815;
  --border-onwarning-strong: rgba(0, 0, 0, 0.9);
  --border-selected: #0d99ff;
  --border-selected-strong: #007be5;
  --border-strong: #2c2c2c;
  --border-success: #aff4c6;
  --border-success-strong: #009951;
  --border-warning: #ffe8a3;
  --border-warning-strong: #b86200;
  --icon: rgba(0, 0, 0, 0.9);
  --icon-brand: #007be5;
  --icon-brand-pressed: #0768cf;
  --icon-brand-secondary: #80caff;
  --icon-brand-tertiary: #bde3ff;
  --icon-component: #8638e5;
  --icon-component-pressed: #7c2bda;
  --icon-component-secondary: #c5b2dc;
  --icon-component-tertiary: #c5b2dc;
  --icon-danger: #f24822;
  --icon-danger-hover: #bd2915;
  --icon-danger-pressed: #bd2915;
  --icon-danger-secondary: #f24822;
  --icon-danger-secondary-hover: #f24822;
  --icon-danger-tertiary: #f24822;
  --icon-disabled: rgba(0, 0, 0, 0.3);
  --icon-hover: rgba(0, 0, 0, 0.9);
  --icon-onbrand: #ffffff;
  --icon-onbrand-secondary: rgba(255, 255, 255, 0.8);
  --icon-onbrand-tertiary: rgba(255, 255, 255, 0.4);
  --icon-oncomponent: #ffffff;
  --icon-oncomponent-secondary: rgba(255, 255, 255, 0.8);
  --icon-oncomponent-tertiary: rgba(255, 255, 255, 0.4);
  --icon-ondanger: #ffffff;
  --icon-ondanger-secondary: rgba(255, 255, 255, 0.8);
  --icon-ondanger-tertiary: rgba(255, 255, 255, 0.4);
  --icon-ondisabled: #ffffff;
  --icon-oninverse: rgba(255, 255, 255, 0.9);
  --icon-onselected: rgba(0, 0, 0, 0.9);
  --icon-onselected-secondary: rgba(0, 0, 0, 0.5);
  --icon-onselected-strong: #ffffff;
  --icon-onselected-tertiary: rgba(0, 0, 0, 0.3);
  --icon-onsuccess: #ffffff;
  --icon-onsuccess-secondary: rgba(255, 255, 255, 0.8);
  --icon-onsuccess-tertiary: rgba(255, 255, 255, 0.4);
  --icon-onwarning: rgba(0, 0, 0, 0.9);
  --icon-onwarning-secondary: rgba(0, 0, 0, 0.5);
  --icon-onwarning-tertiary: rgba(0, 0, 0, 0.3);
  --icon-pressed: #007be5;
  --icon-secondary: rgba(0, 0, 0, 0.5);
  --icon-secondary-hover: rgba(0, 0, 0, 0.9);
  --icon-selected: #007be5;
  --icon-selected-secondary: #007be5;
  --icon-selected-tertiary: #007be5;
  --icon-success: #14ae5c;
  --icon-success-pressed: #008043;
  --icon-success-secondary: #14ae5c;
  --icon-success-tertiary: #14ae5c;
  --icon-tertiary: rgba(0, 0, 0, 0.3);
  --icon-tertiary-hover: rgba(0, 0, 0, 0.9);
  --icon-warning: #ffcd29;
  --icon-warning-pressed: #b86200;
  --icon-warning-secondary: #ffcd29;
  --icon-warning-tertiary: #ffcd29;
  --text: rgba(0, 0, 0, 0.9);
  --text-brand: #007be5;
  --text-brand-secondary: #007be5;
  --text-brand-tertiary: #007be5;
  --text-component: #8638e5;
  --text-component-pressed: #7c2bda;
  --text-component-secondary: #c5b2dc;
  --text-component-tertiary: #c5b2dc;
  --text-danger: #dc3412;
  --text-danger-secondary: #dc3412;
  --text-danger-tertiary: #dc3412;
  --text-disabled: rgba(0, 0, 0, 0.3);
  --text-hover: rgba(0, 0, 0, 0.9);
  --text-onbrand: #ffffff;
  --text-onbrand-secondary: rgba(255, 255, 255, 0.8);
  --text-onbrand-tertiary: rgba(255, 255, 255, 0.4);
  --text-oncomponent: #ffffff;
  --text-oncomponent-secondary: rgba(255, 255, 255, 0.8);
  --text-oncomponent-tertiary: rgba(255, 255, 255, 0.4);
  --text-ondanger: #ffffff;
  --text-ondanger-secondary: rgba(255, 255, 255, 0.8);
  --text-ondanger-tertiary: rgba(255, 255, 255, 0.4);
  --text-ondisabled: #ffffff;
  --text-oninverse: rgba(255, 255, 255, 0.9);
  --text-onselected: rgba(0, 0, 0, 0.9);
  --text-onselected-secondary: rgba(0, 0, 0, 0.5);
  --text-onselected-strong: #ffffff;
  --text-onselected-tertiary: rgba(0, 0, 0, 0.3);
  --text-onsuccess: #ffffff;
  --text-onsuccess-secondary: rgba(255, 255, 255, 0.8);
  --text-onsuccess-tertiary: rgba(255, 255, 255, 0.4);
  --text-onwarning: rgba(0, 0, 0, 0.9);
  --text-onwarning-secondary: rgba(0, 0, 0, 0.5);
  --text-onwarning-tertiary: rgba(0, 0, 0, 0.3);
  --text-secondary: rgba(0, 0, 0, 0.5);
  --text-secondary-hover: rgba(0, 0, 0, 0.9);
  --text-selected: #007be5;
  --text-selected-secondary: #007be5;
  --text-selected-tertiary: #007be5;
  --text-success: #009951;
  --text-success-secondary: #009951;
  --text-success-tertiary: #009951;
  --text-tertiary: rgba(0, 0, 0, 0.3);
  --text-tertiary-hover: rgba(0, 0, 0, 0.9);
  --text-warning: #b86200;
  --text-warning-secondary: #b86200;
  --text-warning-tertiary: #b86200;
}

[data-figma-ui3-mode="dark"] {
  /* dark */
  --bg: #2c2c2c;
  --bg-brand: #0c8ce9;
  --bg-brand-hover: #0a6dc2;
  --bg-brand-pressed: #0a6dc2;
  --bg-brand-secondary: #105cad;
  --bg-brand-tertiary: #394360;
  --bg-component: #8a38f5;
  --bg-component-hover: #7a2ed6;
  --bg-component-pressed: #7a2ed6;
  --bg-component-secondary: #652ca8;
  --bg-component-tertiary: #473956;
  --bg-danger: #e03e1a;
  --bg-danger-hover: #c4381c;
  --bg-danger-pressed: #c4381c;
  --bg-danger-secondary: #963323;
  --bg-danger-tertiary: #60332a;
  --bg-disabled: #757575;
  --bg-disabled-secondary: #b3b3b3;
  --bg-hover: #383838;
  --bg-inverse: #ffffff;
  --bg-onselected: #667799;
  --bg-onselected-hover: #667799;
  --bg-onselected-pressed: #667799;
  --bg-pressed: #383838;
  --bg-secondary: #383838;
  --bg-selected: #4a5878;
  --bg-selected-hover: #536383;
  --bg-selected-pressed: #536383;
  --bg-selected-secondary: #394360;
  --bg-selected-strong: #0c8ce9;
  --bg-selected-tertiary: #394360;
  --bg-success: #198f51;
  --bg-success-hover: #078348;
  --bg-success-pressed: #078348;
  --bg-success-secondary: #0a5c35;
  --bg-success-tertiary: #476656;
  --bg-tertiary: #444444;
  --bg-warning: #f3c11b;
  --bg-warning-hover: #f2b50d;
  --bg-warning-pressed: #f2b50d;
  --bg-warning-secondary: #e4a711;
  --bg-warning-tertiary: #5c4100;
  --border: #444444;
  --border-brand: #105cad;
  --border-brand-strong: #7cc4f8;
  --border-component: #652ca8;
  --border-component-hover: #8a38f5;
  --border-component-strong: #d6b6fb;
  --border-danger: #963323;
  --border-danger-strong: #fca397;
  --border-disabled: #444444;
  --border-disabled-strong: rgba(255, 255, 255, 0.4);
  --border-onbrand: #0a6dc2;
  --border-onbrand-strong: #ffffff;
  --border-oncomponent: #7a2ed6;
  --border-oncomponent-strong: #ffffff;
  --border-ondanger: #c4381c;
  --border-ondanger-strong: #ffffff;
  --border-onselected: #667799;
  --border-onselected-strong: rgba(255, 255, 255, 0.9);
  --border-onsuccess: #078348;
  --border-onsuccess-strong: #ffffff;
  --border-onwarning: #e4a711;
  --border-onwarning-strong: rgba(0, 0, 0, 0.9);
  --border-selected: #0c8ce9;
  --border-selected-strong: #7cc4f8;
  --border-strong: rgba(255, 255, 255, 0.9);
  --border-success: #0a5c35;
  --border-success-strong: #79d297;
  --border-warning: #925711;
  --border-warning-strong: #f7d15f;
  --icon: #ffffff;
  --icon-brand: #7cc4f8;
  --icon-brand-pressed: #0c8ce9;
  --icon-brand-secondary: #0a6dc2;
  --icon-brand-tertiary: #394360;
  --icon-component: #d1a8ff;
  --icon-component-pressed: #d6b6fb;
  --icon-component-secondary: #7f699b;
  --icon-component-tertiary: #7f699b;
  --icon-danger: #e03e1a;
  --icon-danger-hover: #fbbcb6;
  --icon-danger-pressed: #fbbcb6;
  --icon-danger-secondary: #e03e1a;
  --icon-danger-secondary-hover: #e03e1a;
  --icon-danger-tertiary: #e03e1a;
  --icon-disabled: rgba(255, 255, 255, 0.4);
  --icon-hover: #ffffff;
  --icon-onbrand: #ffffff;
  --icon-onbrand-secondary: rgba(255, 255, 255, 0.8);
  --icon-onbrand-tertiary: rgba(255, 255, 255, 0.4);
  --icon-oncomponent: #ffffff;
  --icon-oncomponent-secondary: rgba(255, 255, 255, 0.8);
  --icon-oncomponent-tertiary: rgba(255, 255, 255, 0.4);
  --icon-ondanger: #ffffff;
  --icon-ondanger-secondary: rgba(255, 255, 255, 0.8);
  --icon-ondanger-tertiary: rgba(255, 255, 255, 0.4);
  --icon-ondisabled: #2c2c2c;
  --icon-oninverse: rgba(0, 0, 0, 0.9);
  --icon-onselected: #ffffff;
  --icon-onselected-secondary: rgba(255, 255, 255, 0.7);
  --icon-onselected-strong: #ffffff;
  --icon-onselected-tertiary: rgba(255, 255, 255, 0.4);
  --icon-onsuccess: #ffffff;
  --icon-onsuccess-secondary: rgba(255, 255, 255, 0.8);
  --icon-onsuccess-tertiary: rgba(255, 255, 255, 0.4);
  --icon-onwarning: rgba(0, 0, 0, 0.9);
  --icon-onwarning-secondary: rgba(0, 0, 0, 0.5);
  --icon-onwarning-tertiary: rgba(0, 0, 0, 0.3);
  --icon-pressed: #0a6dc2;
  --icon-secondary: rgba(255, 255, 255, 0.7);
  --icon-secondary-hover: #ffffff;
  --icon-selected: #7cc4f8;
  --icon-selected-secondary: #7cc4f8;
  --icon-selected-tertiary: #7cc4f8;
  --icon-success: #198f51;
  --icon-success-pressed: #a1e8b9;
  --icon-success-secondary: #198f51;
  --icon-success-tertiary: #198f51;
  --icon-tertiary: rgba(255, 255, 255, 0.4);
  --icon-tertiary-hover: #ffffff;
  --icon-warning: #f3c11b;
  --icon-warning-pressed: #f7d15f;
  --icon-warning-secondary: #f3c11b;
  --icon-warning-tertiary: #f3c11b;
  --text: #ffffff;
  --text-brand: #7cc4f8;
  --text-brand-secondary: #7cc4f8;
  --text-brand-tertiary: #7cc4f8;
  --text-component: #d1a8ff;
  --text-component-pressed: #d6b6fb;
  --text-component-secondary: #7f699b;
  --text-component-tertiary: #7f699b;
  --text-danger: #fca397;
  --text-danger-secondary: #fca397;
  --text-danger-tertiary: #fca397;
  --text-disabled: rgba(255, 255, 255, 0.4);
  --text-hover: #ffffff;
  --text-onbrand: #ffffff;
  --text-onbrand-secondary: rgba(255, 255, 255, 0.8);
  --text-onbrand-tertiary: rgba(255, 255, 255, 0.4);
  --text-oncomponent: #ffffff;
  --text-oncomponent-secondary: rgba(255, 255, 255, 0.8);
  --text-oncomponent-tertiary: rgba(255, 255, 255, 0.4);
  --text-ondanger: #ffffff;
  --text-ondanger-secondary: rgba(255, 255, 255, 0.8);
  --text-ondanger-tertiary: rgba(255, 255, 255, 0.4);
  --text-ondisabled: #2c2c2c;
  --text-oninverse: rgba(0, 0, 0, 0.9);
  --text-onselected: rgba(255, 255, 255, 0.9);
  --text-onselected-secondary: rgba(255, 255, 255, 0.7);
  --text-onselected-strong: #ffffff;
  --text-onselected-tertiary: rgba(255, 255, 255, 0.4);
  --text-onsuccess: #ffffff;
  --text-onsuccess-secondary: rgba(255, 255, 255, 0.8);
  --text-onsuccess-tertiary: rgba(255, 255, 255, 0.4);
  --text-onwarning: rgba(0, 0, 0, 0.9);
  --text-onwarning-secondary: rgba(0, 0, 0, 0.5);
  --text-onwarning-tertiary: rgba(0, 0, 0, 0.3);
  --text-secondary: rgba(255, 255, 255, 0.7);
  --text-secondary-hover: #ffffff;
  --text-selected: #7cc4f8;
  --text-selected-secondary: #7cc4f8;
  --text-selected-tertiary: #7cc4f8;
  --text-success: #79d297;
  --text-success-secondary: #79d297;
  --text-success-tertiary: #79d297;
  --text-tertiary: rgba(255, 255, 255, 0.4);
  --text-tertiary-hover: #ffffff;
  --text-warning: #f7d15f;
  --text-warning-secondary: #f7d15f;
  --text-warning-tertiary: #f7d15f;
}
